client/src/main/java/stub/TcfServiceImpl.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.polytech.unice.fr/tcf" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:ns1="http://webService.demo.se.polytech.unice.fr/" name="TcfServiceImplService" targetNamespace="http://www.polytech.unice.fr/tcf">
  <wsdl:import location="http://localhost:8080/demo/webservices/TcfServiceImpl?wsdl=TcfService.wsdl" namespace="http://webService.demo.se.polytech.unice.fr/">
    </wsdl:import>
  <wsdl:binding name="TcfServiceImplServiceSoapBinding" type="ns1:TcfService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="creerRecette">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="creerRecette">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="creerRecetteResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="creerIngredient">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="creerIngredient">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="creerIngredientResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="choisirRecette">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="choisirRecette">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="choisirRecetteResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="creerFacon">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="creerFacon">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="creerFaconResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFacon">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllFacon">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllFaconResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="choisirFacon">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="choisirFacon">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="choisirFaconResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ingredientIsExist">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="ingredientIsExist">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ingredientIsExistResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="creerBoutique">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="creerBoutique">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="creerBoutiqueResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="faconIsExist">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="faconIsExist">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="faconIsExistResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recetteIsExist">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="recetteIsExist">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="recetteIsExistResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllRecette">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllRecette">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllRecetteResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllIngredient">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllIngredient">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllIngredientResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="boutiqueIsExist">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="boutiqueIsExist">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="boutiqueIsExistResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllBoutique">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllBoutique">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllBoutiqueResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="choisirBoutique">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="choisirBoutique">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="choisirBoutiqueResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="choisirIngredient">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="choisirIngredient">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="choisirIngredientResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="creerInfoPayment">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="creerInfoPayment">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="creerInfoPaymentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="creerCommande">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="creerCommande">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="creerCommandeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TcfServiceImplService">
    <wsdl:port binding="tns:TcfServiceImplServiceSoapBinding" name="TcfServiceImplPort">
      <soap:address location="http://localhost:8080/demo/webservices/TcfServiceImpl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>